*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}

.container{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px ;
    grid-row-gap: 60px;
    align-items: center;
}

.card{
    border: 1px solid rgba(79, 76, 76, 0.39);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.flag {
    height: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
}

img{
    width: 100%;
    height: 200px;
}

#searchbar{
    width: 200px;
    height: 30px;
    margin-left: 200px;
    margin-bottom: 20px;
}